[submodule "FreeRTOS-Kernel"]
	path = lib/FreeRTOS-Kernel
	url = https://github.com/leptun/FreeRTOS-Kernel.git
[submodule "tinyusb"]
	path = lib/tinyusb
	url = https://github.com/hathach/tinyusb.git
[submodule "umm_malloc"]
	path = lib/umm_malloc
	url = https://github.com/rhempel/umm_malloc.git
[submodule "krpc-arduino"]
	path = lib/krpc-arduino
	url = https://github.com/krpc/krpc-arduino.git
[submodule "Fusion"]
	path = lib/Fusion
	url = https://github.com/xioTechnologies/Fusion.git
[submodule "Avionus_QSPILoader"]
	path = lib/Avionus_QSPILoader
	url = https://github.com/leptun/Avionus_QSPILoader.git
[submodule "lib/CrashCatcher"]
	path = lib/CrashCatcher
	url = https://github.com/adamgreen/CrashCatcher.git
