[submodule "FreeRTOS-Kernel"]
	path = FreeRTOS-Kernel
	url = https://github.com/leptun/FreeRTOS-Kernel.git
[submodule "tinyusb"]
	path = tinyusb
	url = https://github.com/hathach/tinyusb.git
[submodule "umm_malloc"]
	path = umm_malloc
	url = https://github.com/rhempel/umm_malloc.git
[submodule "krpc-arduino"]
	path = krpc-arduino
	url = https://github.com/krpc/krpc-arduino.git
